.primary_btn {
  background-color: var(--primary-color-dark);
  border: none;
  border-radius: 1.5rem;
  padding: 0.5rem 2.5rem;
  a {
    text-decoration: none;
    color: var(--text-color-light);
    font-size: 1rem;
    font-weight: 500;
  }
  @media (max-width: 45rem) {
    padding: 0.3rem 1rem;
    font-size: 0.8rem;
  }
}
