.primary_btn {
  background-color: var(--primary-color-dark);
  color: var(--text-color-light);
  border: none;
  border-radius: 1.5rem;
  padding: 0.5rem 2.5rem;
  font-size: 1rem;
  font-weight: 500;
  @media (max-width: 45rem) {
    padding: 0.3rem 1rem;
    font-size: 0.8rem;
  }
}
