.projectCard {
  height: 22rem;
  width: 15rem;
  margin: 5rem 0rem;
  border-radius: 0.5rem;
  box-shadow: 0.4rem 0.4rem 5rem var(--shadow-color);
}

.projectImage {
  height: 15rem;
  width: 15rem;
  object-fit: cover;
}

.bottomBox {
  background-color: var(--primary-color-dark);
  height: 7rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0.5rem 1rem;
  &__title {
    font-weight: 700;
    font-size: 1rem;
    color: var(--text-color-light);
  }
  &__subtitle {
    font-size: 0.7rem;
    font-weight: 500;
    color: var(--text-color-light);
  }
}
