.skillCard {
  width: 10rem;
  height: 12rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0.4rem 0.4rem 5rem var(--shadow-color);
}

.svgicon {
  height: 3rem;
  width: 3rem;
}

.title {
  margin-top: 1rem;
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--text-color-dark);
}
