.WhiteBtn {
  padding: 1rem 3rem;
  border: none;
  background-color: var(--primary-color-light);
  box-shadow: 0.4rem 0.4rem 5rem var(--shadow-color);
  border-radius: 0.5rem;
  outline: none;
  a {
    text-decoration: none;
    color: var(--text-color-dark);
    font-size: 1rem;
    font-weight: 500;
  }
}
