.WhiteBtn {
  padding: 1rem 3rem;
  border: none;
  background-color: var(--primary-color-light);
  box-shadow: 0.4rem 0.4rem 5rem var(--shadow-color);
  color: var(--text-color-dark);
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  outline: none;
}
