.nav {
  &__list {
    display: flex;
    margin: 2rem;
    justify-content: flex-end;
    align-items: baseline;
    @media (max-width: 45rem) {
      justify-content: space-evenly;
    }
  }
  &__item {
    font-size: 1rem;
    font-weight: 500;
    padding: 0rem 2rem;
    list-style: none;
    cursor: pointer;
    a {
      text-decoration: none;
      color: var(--text-color-dark);
    }
    @media (max-width: 45rem) {
      font-size: 0.8rem;
      padding: 0rem 1rem;
    }
  }
}

.main {
  margin: 0rem 2rem;

  &__hero {
    height: 70vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @media (max-width: 45rem) {
      flex-direction: column;
      position: relative;
    }
  }

  &__textbox {
    @media (max-width: 45rem) {
      margin: 2rem 0rem;
    }
    &__text {
      font-size: 3rem;
      font-weight: 400;
      color: var(--text-color-dark);
      @media (max-width: 45rem) {
        font-size: 1rem;
      }
    }
    &__bold {
      font-size: 4rem;
      font-weight: 700;
      color: var(--text-color-dark);
      @media (max-width: 45rem) {
        font-size: 2rem;
      }
    }
  }

  &__imgbox {
    box-shadow: 0.4rem 0.4rem 5rem var(--shadow-color);
    width: fit-content;
    &__img {
      height: 20rem;
      padding: 0.7rem;
    }
  }

  &__iconbox {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: fit-content;
    @media (max-width: 45rem) {
      position: absolute;
      right: -1rem;
      top: 10rem;
    }
    &__icon {
      height: 1.5rem;
      width: 1.5rem;
      margin: 1rem;
      fill: var(--primary-color-dark);
    }
  }

  &__iconbox::before {
    content: "";
    height: 10rem;
    width: 0.1rem;
    background-color: var(--primary-color-dark);
  }

  &__skills {
    padding: 8rem 0rem 0rem 0rem;
    width: 100%;
    &__title {
      font-size: 2rem;
      font-weight: 700;
      color: var(--text-color-dark);
      text-align: center;
    }
    &__subtitle {
      font-size: 1rem;
      font-weight: 400;
      color: var(--text-color-dark);
      text-align: center;
    }
    &__box {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin: 5rem 0rem;
      flex-wrap: wrap;
      @media (max-width: 45rem) {
        flex-direction: column;
      }
    }
  }

  &__projects {
    width: 100%;
    height: 100%;
    &__title {
      font-size: 2rem;
      font-weight: 700;
      color: var(--text-color-dark);
      text-align: center;
    }
    &__subtitle {
      font-size: 1rem;
      font-weight: 400;
      color: var(--text-color-dark);
      text-align: center;
    }
    &__items {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
    }
  }

  &__contact {
    padding: 5rem 0rem;
    width: 100%;
    &__title {
      font-size: 2rem;
      font-weight: 700;
      color: var(--text-color-dark);
      text-align: center;
    }
    &__subtitle {
      font-size: 1rem;
      font-weight: 400;
      color: var(--text-color-dark);
      text-align: center;
    }
    &__socialbox {
      display: flex;
      justify-content: center;
      width: auto;
      margin: 2rem 0rem;
      &__icon {
        height: 2rem;
        width: 2rem;
        margin: 2rem;
      }
    }
    &__or {
      display: flex;
      justify-content: center;
      align-items: center;
      &__text {
        font-size: 1rem;
        color: var(--text-color-dark);
        font-weight: 500;
        padding: 1rem;
      }
    }
    &__or::before {
      content: "";
      background-color: var(--primary-color-dark);
      height: 0.1rem;
      width: 10rem;
    }
    &__or::after {
      content: "";
      background-color: var(--primary-color-dark);
      height: 0.1rem;
      width: 10rem;
    }
    &__cta {
      text-align: center;
      margin: 3rem 0rem;
    }
  }
}
